{{!< default}}

{{> "site-header"}}

{{#post}}
<section class="container">
  <section class="row">
    <section class="col-md-12" id="text-content" style="min-height: 600px">
    	<div class="page-body"> 
    		<div class="page-body-header">    			
				<h2>{{title}}</h2>
    		</div>
    		<div class="page-body-content">    			
		        <hr>
		        {{content}}
		       
    		</div>
    	</div>
    </section>
  </section>
</section>
{{/post}}
